<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- favicon  -->
  <!-- Google fonts -->
  <title>Elly blog</title>
  <!-- css -->
  
  {% block css%}
  {% endblock %}
  
  {% extends 'bootstrap/base.html' %}
  {% block title %}
  
  {% endblock %}
</head>

<body>
  {% block navbar %}
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('main.index')}}"><i class="fas fa-book-reader"></i> SHREDEDD</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.account')}}">Account</a></li>
         <li><a href="{{url_for('main.write')}}">Write</a></li>
         <li><a href="{{url_for('main.profile')}}"> <i class="fas fa-user-alt"></i> Profile</a></li>
        <li><a href= "{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a></li> 
         

          {% else %}
          <li><a href="">Our Story</a></li>
          <li class=""><a href="{{url_for('auth.login')}}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
          <li><a href="{{url_for('auth.login')}}">Write</a></li>
          <li class = 'ml-2'><button class = "btn btn-nav ml-2"><a href="{{url_for('auth.register')}}">Get Started</a></button></li>
          {% endif %}

          

        </ul>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %}
  {% endblock %}

 

 
</body>

</html>